/* body{
    font-family: 'Kanit', sans-serif !important;
}

.content-wrapper, .right-side {
    min-height: 100%;
    background-color: #fff !important;
    z-index: 800;
}


.toggle.android { border-radius: 0px;}
.toggle.android .toggle-handle { border-radius: 0px; } */
