.ew-ul-sub li
{
  list-style-type: none;
  font-size: 18px;
  margin-bottom: 15px;
  margin-top: 15px;
  color:#337ab7 !important;
}
#ewSelect,
#PickToSaleLine{
    display:none ;
}

.widget-user .widget-user-image>img {
    border: none !important;
}

.ew-getItem-Set .box-header{
    font-size:16px !important;
    margin-left: -33px !important;
}

.ew-adj-line{
    min-height:150px;
    background-color:#f4f4f4;
}

@media print {
    .adjust-btnGroup{
        display: none;
    }

    tfoot{
        display: none;
    }
    .ew-delete-adj-line{
        display: none;
    }
    .adjust-deleteBtn,
    .navbar,
    .FilterResource,
    .main-footer{
        display: none;
    }
    input[type='text']{
        border:0px;
    }
    .panel{
        border:0px;
    }
  }


@media (max-width: 1440px) {
    .FilterResource h3{
        font-size:20px !important;
    }
    .FilterResource h5{
        font-size:14px !important;
    }
} 
@media (max-width: 1024px) {
    .FilterResource h3{
        font-size:16px !important;
    }
    .FilterResource h5{
        font-size:13px !important;
    }
}
